{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }} </title>
    <title> Welcome to the best and reliable Headlines Scoop Website Online </title>
    {% endif %}
</head>
<body>
    <!--Content block -->
    {% block content %}
    <h2> Headlines </h2>
    <ul>
             {{ macro.displayNewsList(headlines) }}
    </ul>
    <h2> International News </h2>
    <ul>
            {{ macro.displayNewsList(international_news) }}
    </ul>
    {% endblock %}
</body>
</html>